<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
		">
    <util:map id="freemarkerLayoutDirectives">
        <entry key="extends"><bean class="com.argo.core.freemarker.directives.ExtendsDirective"/></entry>
        <entry key="block"><bean class="com.argo.core.freemarker.directives.BlockDirective"/></entry>
        <entry key="put"><bean class="com.argo.core.freemarker.directives.PutDirective"/></entry>
    </util:map>

    <bean id="freemarkerConfig"
          class="com.argo.core.freemarker.HtmlFreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/views/" />
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="number_format">0.##########</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>
        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape" value-ref="fmXmlEscape"/>
                <entry key="layout" value-ref="freemarkerLayoutDirectives" />
                <entry key="h" value-ref="ftlHelper"/>
            </map>
        </property>
    </bean>

    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"/>
    <bean id="ftlHelper" class="com.argo.core.freemarker.FTLHelper" />

    <bean id="freemarkerComponent" class="com.argo.core.component.FreemarkerComponent">
        <property name="freeMarkerConfig" ref="freemarkerConfig"></property>
    </bean>

</beans>

